<!DOCTYPE html>
<html xmlns="htpp://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Cobrança</title>
<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

	<head layout:include="cabecalho"></head>	
	<section layout:fragment="conteudo">
	
		<p>conteúdo principal</p>
		
	</section>
	
	<script src="/js/jquery-1.12.3.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/titulos.js"></script>

</body>
</html>